<div ui-content-for="title">
  <span>Register new user</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <div class="alert alert-danger" ng-show="errorMessage">
    <b>{{textMessage}}</b>
  </div>

  <div class="alert alert-success" ng-show="successMessage">
    <b>{{textMessage}}</b>
  </div>

  <form role="form" ng-submit='doRegister()'>
    <fieldset>
        <div class="form-group has-success has-feedback">
          <label>Email</label>
          <input type="email"
                 ng-model="email"
                 class="form-control"
                 placeholder="Enter email"
                 required>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" 
                 ng-model="password"
                 class="form-control"
                 placeholder="Password"
                 required>
        </div>

    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block"  ng-disabled="buttonSendDisabled" >
      Register
    </button>
    <br>
    <img src="/images/loading.gif" ng-show="loading"/>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='doRegister()'>Login</a>
    </div>

  </form>
 </div>
</div>
